In [14]:
import pandas as pd
pd.set_option("display.max_columns", 50)

PATH = "/Users/ekselan/Desktop/LAMBDA/LABS/data/BLS 2019 Data - All May 2019 Data.csv"

df = pd.read_csv(PATH)

states = []

for x in df["area_title"]:
    state = x[-2:]
    states.append(state)

df["state"] = states

print(df.shape)
df.head()

(142410, 31)

,area_title,area,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,tot_emp,emp_prse,jobs_1000,loc_quotient,pct_total,h_mean,a_mean,mean_prse,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly,state
0,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,total,"66,510",3.1,1000.000,1.00,NaN,20.08,"41,760",1.8,8.94,10.97,15.64,24.05,35.21,"18,580","22,810","32,530","50,030","73,230",NaN,NaN,TX
1,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,major,"2,670",5.8,40.137,0.73,NaN,43.51,"90,500",2.2,17.86,27.22,37.51,51.88,75.57,"37,140","56,610","78,030","107,910","157,190",NaN,NaN,TX
2,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,detailed,"1,100",7.7,16.499,1.01,NaN,40.39,"84,000",3.7,10.97,24.21,35.51,51.38,74.29,"22,810","50,350","73,850","106,870","154,520",NaN,NaN,TX
3,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,11-2022,Sales Managers,detailed,110,18.8,1.728,0.63,NaN,59.96,"124,710",6.6,22.77,34.69,57.65,74.55,99.80,"47,360","72,140","119,920","155,050","207,570",NaN,NaN,TX
4,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,11-2030,Public Relations and Fundraising Managers,detailed,40,29.7,0.571,1.06,NaN,*,*,*,*,*,*,*,*,*,*,*,*,*,NaN,NaN,TX

In [15]:
df.isnull().sum()

# pct_total, annual, and hourly are almost entirely nan

area_title           0
area                 0
area_type            0
naics                0
naics_title          0
i_group              0
own_code             0
occ_code             0
occ_title            0
o_group              0
tot_emp              0
emp_prse             0
jobs_1000            0
loc_quotient         0
pct_total       142410
h_mean               0
a_mean               0
mean_prse            0
h_pct10              0
h_pct25              0
h_median             0
h_pct75              0
h_pct90              0
a_pct10              0
a_pct25              0
a_median             0
a_pct75              0
a_pct90              0
annual          135069
hourly          142172
state                0
dtype: int64

In [16]:
bls = df.copy()

bls = bls.dropna(axis=1)

print(bls.shape)
bls.head()

(142410, 28)

,area_title,area,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,tot_emp,emp_prse,jobs_1000,loc_quotient,h_mean,a_mean,mean_prse,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,state
0,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,total,"66,510",3.1,1000.000,1.00,20.08,"41,760",1.8,8.94,10.97,15.64,24.05,35.21,"18,580","22,810","32,530","50,030","73,230",TX
1,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,major,"2,670",5.8,40.137,0.73,43.51,"90,500",2.2,17.86,27.22,37.51,51.88,75.57,"37,140","56,610","78,030","107,910","157,190",TX
2,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,detailed,"1,100",7.7,16.499,1.01,40.39,"84,000",3.7,10.97,24.21,35.51,51.38,74.29,"22,810","50,350","73,850","106,870","154,520",TX
3,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,11-2022,Sales Managers,detailed,110,18.8,1.728,0.63,59.96,"124,710",6.6,22.77,34.69,57.65,74.55,99.80,"47,360","72,140","119,920","155,050","207,570",TX
4,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,11-2030,Public Relations and Fundraising Managers,detailed,40,29.7,0.571,1.06,*,*,*,*,*,*,*,*,*,*,*,*,*,TX

In [21]:
bls.dtypes

area_title      object
area             int64
area_type        int64
naics            int64
naics_title     object
i_group         object
own_code         int64
occ_code        object
occ_title       object
o_group         object
tot_emp         object
emp_prse        object
jobs_1000       object
loc_quotient    object
h_mean          object
a_mean          object
mean_prse       object
h_pct10         object
h_pct25         object
h_median        object
h_pct75         object
h_pct90         object
a_pct10         object
a_pct25         object
a_median        object
a_pct75         object
a_pct90         object
state           object
dtype: object

In [20]:
bls.sort_values(["area_title","loc_quotient"], ascending=False)

,area_title,area,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,tot_emp,emp_prse,jobs_1000,loc_quotient,h_mean,a_mean,mean_prse,h_pct10,h_pct25,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,state
134168,"Yuma, AZ",49740,4,0,Cross-industry,cross-industry,1235,45-2091,Agricultural Equipment Operators,detailed,90,33.0,1.530,8.33,15.37,"31,960",3.7,12.41,13.72,15.68,17.49,18.57,"25,820","28,540","32,610","36,380","38,630",AZ
134193,"Yuma, AZ",49740,4,0,Cross-industry,cross-industry,1235,49-3041,Farm Equipment Mechanics and Service Technicians,detailed,110,15.1,1.811,7.33,27.95,"58,140",4.3,17.32,21.14,25.38,31.72,40.14,"36,020","43,970","52,790","65,970","83,490",AZ
134169,"Yuma, AZ",49740,4,0,Cross-industry,cross-industry,1235,45-2092,"Farmworkers and Laborers, Crop, Nursery, and G...",detailed,"6,380",11.3,102.955,51.17,12.45,"25,900",2.2,11.01,11.17,11.87,13.46,14.77,"22,890","23,220","24,700","27,990","30,720",AZ
134089,"Yuma, AZ",49740,4,0,Cross-industry,cross-industry,1235,33-3012,Correctional Officers and Jailers,detailed,"1,050",5.7,16.930,5.88,18.71,"38,910",2.6,16.52,17.44,18.80,19.54,20.49,"34,360","36,270","39,100","40,630","42,610",AZ
134029,"Yuma, AZ",49740,4,0,Cross-industry,cross-industry,1235,19-4010,Agricultural and Food Science Technicians,detailed,40,25.8,0.714,4.79,19.66,"40,890",6.0,11.84,14.74,19.88,23.74,27.83,"24,630","30,670","41,360","49,370","57,890",AZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,49-9021,"Heating, Air Conditioning, and Refrigeration M...",detailed,**,**,**,**,20.10,"41,810",1.9,13.54,15.70,19.16,24.37,28.48,"28,160","32,660","39,860","50,700","59,240",TX
250,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,49-9052,Telecommunications Line Installers and Repairers,detailed,**,**,**,**,32.70,"68,010",11.8,17.87,32.61,35.41,38.22,39.90,"37,160","67,820","73,660","79,490","82,990",TX
260,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,51-4031,"Cutting, Punching, and Press Machine Setters, ...",detailed,**,**,**,**,16.96,"35,280",6.7,12.34,14.02,16.66,19.25,23.22,"25,660","29,150","34,640","40,030","48,290",TX
278,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,53-6098,Aircraft Service Attendants and Transportation...,detailed,**,**,**,**,15.19,"31,600",2.8,11.45,12.67,14.44,17.37,20.75,"23,820","26,360","30,040","36,130","43,160",TX
280,"Abilene, TX",10180,4,0,Cross-industry,cross-industry,1235,53-7061,Cleaners of Vehicles and Equipment,detailed,**,**,**,**,11.55,"24,010",4.4,8.27,9.32,10.95,13.65,16.08,"17,200","19,390","22,780","28,390","33,440",TX

In [17]:
bls.area_title.nunique()

396

In [13]:
set(bls.area_title.to_list())

{'Abilene, TX',
 'Aguadilla-Isabela, PR',
 'Akron, OH',
 'Albany, GA',
 'Albany, OR',
 'Albany-Schenectady-Troy, NY',
 'Albuquerque, NM',
 'Alexandria, LA',
 'Allentown-Bethlehem-Easton, PA-NJ',
 'Altoona, PA',
 'Amarillo, TX',
 'Ames, IA',
 'Anchorage, AK',
 'Ann Arbor, MI',
 'Anniston-Oxford-Jacksonville, AL',
 'Appleton, WI',
 'Arecibo, PR',
 'Asheville, NC',
 'Athens-Clarke County, GA',
 'Atlanta-Sandy Springs-Roswell, GA',
 'Atlantic City-Hammonton, NJ',
 'Auburn-Opelika, AL',
 'Augusta-Richmond County, GA-SC',
 'Austin-Round Rock, TX',
 'Bakersfield, CA',
 'Baltimore-Columbia-Towson, MD',
 'Bangor, ME',
 'Barnstable Town, MA',
 'Baton Rouge, LA',
 'Battle Creek, MI',
 'Bay City, MI',
 'Beaumont-Port Arthur, TX',
 'Beckley, WV',
 'Bellingham, WA',
 'Bend-Redmond, OR',
 'Billings, MT',
 'Binghamton, NY',
 'Birmingham-Hoover, AL',
 'Bismarck, ND',
 'Blacksburg-Christiansburg-Radford, VA',
 'Bloomington, IL',
 'Bloomington, IN',
 'Bloomsburg-Berwick, PA',
 'Boise City, ID',
 'Boston-Cambridge-Nashua, MA-NH',
 'Boulder, CO',
 'Bowling Green, KY',
 'Bremerton-Silverdale, WA',
 'Bridgeport-Stamford-Norwalk, CT',
 'Brownsville-Harlingen, TX',
 'Brunswick, GA',
 'Buffalo-Cheektowaga-Niagara Falls, NY',
 'Burlington, NC',
 'Burlington-South Burlington, VT',
 'California-Lexington Park, MD',
 'Canton-Massillon, OH',
 'Cape Coral-Fort Myers, FL',
 'Cape Girardeau, MO-IL',
 'Carbondale-Marion, IL',
 'Carson City, NV',
 'Casper, WY',
 'Cedar Rapids, IA',
 'Chambersburg-Waynesboro, PA',
 'Champaign-Urbana, IL',
 'Charleston, WV',
 'Charleston-North Charleston, SC',
 'Charlotte-Concord-Gastonia, NC-SC',
 'Charlottesville, VA',
 'Chattanooga, TN-GA',
 'Cheyenne, WY',
 'Chicago-Naperville-Elgin, IL-IN-WI',
 'Chico, CA',
 'Cincinnati, OH-KY-IN',
 'Clarksville, TN-KY',
 'Cleveland, TN',
 'Cleveland-Elyria, OH',
 "Coeur d'Alene, ID",
 'College Station-Bryan, TX',
 'Colorado Springs, CO',
 'Columbia, MO',
 'Columbia, SC',
 'Columbus, GA-AL',
 'Columbus, IN',
 'Columbus, OH',
 'Corpus Christi, TX',
 'Corvallis, OR',
 'Crestview-Fort Walton Beach-Destin, FL',
 'Cumberland, MD-WV',
 'Dallas-Fort Worth-Arlington, TX',
 'Dalton, GA',
 'Danbury, CT',
 'Danville, IL',
 'Daphne-Fairhope-Foley, AL',
 'Davenport-Moline-Rock Island, IA-IL',
 'Dayton, OH',
 'Decatur, AL',
 'Decatur, IL',
 'Deltona-Daytona Beach-Ormond Beach, FL',
 'Denver-Aurora-Lakewood, CO',
 'Des Moines-West Des Moines, IA',
 'Detroit-Warren-Dearborn, MI',
 'Dothan, AL',
 'Dover, DE',
 'Dover-Durham, NH-ME',
 'Dubuque, IA',
 'Duluth, MN-WI',
 'Durham-Chapel Hill, NC',
 'East Stroudsburg, PA',
 'Eau Claire, WI',
 'El Centro, CA',
 'El Paso, TX',
 'Elizabethtown-Fort Knox, KY',
 'Elkhart-Goshen, IN',
 'Elmira, NY',
 'Enid, OK',
 'Erie, PA',
 'Eugene, OR',
 'Evansville, IN-KY',
 'Fairbanks, AK',
 'Fargo, ND-MN',
 'Farmington, NM',
 'Fayetteville, NC',
 'Fayetteville-Springdale-Rogers, AR-MO',
 'Flagstaff, AZ',
 'Flint, MI',
 'Florence, SC',
 'Florence-Muscle Shoals, AL',
 'Fond du Lac, WI',
 'Fort Collins, CO',
 'Fort Smith, AR-OK',
 'Fort Wayne, IN',
 'Fresno, CA',
 'Gadsden, AL',
 'Gainesville, FL',
 'Gainesville, GA',
 'Gettysburg, PA',
 'Glens Falls, NY',
 'Goldsboro, NC',
 'Grand Forks, ND-MN',
 'Grand Island, NE',
 'Grand Junction, CO',
 'Grand Rapids-Wyoming, MI',
 'Grants Pass, OR',
 'Great Falls, MT',
 'Greeley, CO',
 'Green Bay, WI',
 'Greensboro-High Point, NC',
 'Greenville, NC',
 'Greenville-Anderson-Mauldin, SC',
 'Guayama, PR',
 'Gulfport-Biloxi-Pascagoula, MS',
 'Hagerstown-Martinsburg, MD-WV',
 'Hammond, LA',
 'Hanford-Corcoran, CA',
 'Harrisburg-Carlisle, PA',
 'Harrisonburg, VA',
 'Hartford-West Hartford-East Hartford, CT',
 'Hattiesburg, MS',
 'Hickory-Lenoir-Morganton, NC',
 'Hilton Head Island-Bluffton-Beaufort, SC',
 'Hinesville, GA',
 'Homosassa Springs, FL',
 'Hot Springs, AR',
 'Houma-Thibodaux, LA',
 'Houston-The Woodlands-Sugar Land, TX',
 'Huntington-Ashland, WV-KY-OH',
 'Huntsville, AL',
 'Idaho Falls, ID',
 'Indianapolis-Carmel-Anderson, IN',
 'Iowa City, IA',
 'Ithaca, NY',
 'Jackson, MI',
 'Jackson, MS',
 'Jackson, TN',
 'Jacksonville, FL',
 'Jacksonville, NC',
 'Janesville-Beloit, WI',
 'Jefferson City, MO',
 'Johnson City, TN',
 'Johnstown, PA',
 'Jonesboro, AR',
 'Joplin, MO',
 'Kahului-Wailuku-Lahaina, HI',
 'Kalamazoo-Portage, MI',
 'Kankakee, IL',
 'Kansas City, MO-KS',
 'Kennewick-Richland, WA',
 'Killeen-Temple, TX',
 'Kingsport-Bristol-Bristol, TN-VA',
 'Kingston, NY',
 'Knoxville, TN',
 'Kokomo, IN',
 'La Crosse-Onalaska, WI-MN',
 'Lafayette, LA',
 'Lafayette-West Lafayette, IN',
 'Lake Charles, LA',
 'Lake Havasu City-Kingman, AZ',
 'Lakeland-Winter Haven, FL',
 'Lancaster, PA',
 'Lansing-East Lansing, MI',
 'Laredo, TX',
 'Las Cruces, NM',
 'Las Vegas-Henderson-Paradise, NV',
 'Lawrence, KS',
 'Lawton, OK',
 'Lebanon, PA',
 'Leominster-Gardner, MA',
 'Lewiston, ID-WA',
 'Lewiston-Auburn, ME',
 'Lexington-Fayette, KY',
 'Lima, OH',
 'Lincoln, NE',
 'Little Rock-North Little Rock-Conway, AR',
 'Logan, UT-ID',
 'Longview, TX',
 'Longview, WA',
 'Los Angeles-Long Beach-Anaheim, CA',
 'Louisville/Jefferson County, KY-IN',
 'Lubbock, TX',
 'Lynchburg, VA',
 'Macon, GA',
 'Madera, CA',
 'Madison, WI',
 'Manchester, NH',
 'Manhattan, KS',
 'Mankato-North Mankato, MN',
 'Mansfield, OH',
 'Mayaguez, PR',
 'McAllen-Edinburg-Mission, TX',
 'Medford, OR',
 'Memphis, TN-MS-AR',
 'Merced, CA',
 'Miami-Fort Lauderdale-West Palm Beach, FL',
 'Michigan City-La Porte, IN',
 'Midland, MI',
 'Midland, TX',
 'Milwaukee-Waukesha-West Allis, WI',
 'Minneapolis-St. Paul-Bloomington, MN-WI',
 'Missoula, MT',
 'Mobile, AL',
 'Modesto, CA',
 'Monroe, LA',
 'Monroe, MI',
 'Montgomery, AL',
 'Morgantown, WV',
 'Morristown, TN',
 'Mount Vernon-Anacortes, WA',
 'Muncie, IN',
 'Muskegon, MI',
 'Myrtle Beach-Conway-North Myrtle Beach, SC-NC',
 'Napa, CA',
 'Naples-Immokalee-Marco Island, FL',
 'Nashville-Davidson--Murfreesboro--Franklin, TN',
 'New Bedford, MA',
 'New Bern, NC',
 'New Haven, CT',
 'New Orleans-Metairie, LA',
 'New York-Newark-Jersey City, NY-NJ-PA',
 'Niles-Benton Harbor, MI',
 'North Port-Sarasota-Bradenton, FL',
 'Norwich-New London-Westerly, CT-RI',
 'Ocala, FL',
 'Ocean City, NJ',
 'Odessa, TX',
 'Ogden-Clearfield, UT',
 'Oklahoma City, OK',
 'Olympia-Tumwater, WA',
 'Omaha-Council Bluffs, NE-IA',
 'Orlando-Kissimmee-Sanford, FL',
 'Oshkosh-Neenah, WI',
 'Owensboro, KY',
 'Oxnard-Thousand Oaks-Ventura, CA',
 'Palm Bay-Melbourne-Titusville, FL',
 'Panama City, FL',
 'Parkersburg-Vienna, WV',
 'Pensacola-Ferry Pass-Brent, FL',
 'Peoria, IL',
 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD',
 'Phoenix-Mesa-Scottsdale, AZ',
 'Pine Bluff, AR',
 'Pittsburgh, PA',
 'Pittsfield, MA',
 'Pocatello, ID',
 'Ponce, PR',
 'Port St. Lucie, FL',
 'Portland-South Portland, ME',
 'Portland-Vancouver-Hillsboro, OR-WA',
 'Portsmouth, NH-ME',
 'Prescott, AZ',
 'Providence-Warwick, RI-MA',
 'Provo-Orem, UT',
 'Pueblo, CO',
 'Punta Gorda, FL',
 'Racine, WI',
 'Raleigh, NC',
 'Rapid City, SD',
 'Reading, PA',
 'Redding, CA',
 'Reno, NV',
 'Richmond, VA',
 'Riverside-San Bernardino-Ontario, CA',
 'Roanoke, VA',
 'Rochester, MN',
 'Rochester, NY',
 'Rockford, IL',
 'Rocky Mount, NC',
 'Rome, GA',
 'Sacramento--Roseville--Arden-Arcade, CA',
 'Saginaw, MI',
 'Salem, OR',
 'Salinas, CA',
 'Salisbury, MD-DE',
 'Salt Lake City, UT',
 'San Angelo, TX',
 'San Antonio-New Braunfels, TX',
 'San Diego-Carlsbad, CA',
 'San Francisco-Oakland-Hayward, CA',
 'San German, PR',
 'San Jose-Sunnyvale-Santa Clara, CA',
 'San Juan-Carolina-Caguas, PR',
 'San Luis Obispo-Paso Robles-Arroyo Grande, CA',
 'Santa Cruz-Watsonville, CA',
 'Santa Fe, NM',
 'Santa Maria-Santa Barbara, CA',
 'Santa Rosa, CA',
 'Savannah, GA',
 'Scranton--Wilkes-Barre--Hazleton, PA',
 'Seattle-Tacoma-Bellevue, WA',
 'Sebastian-Vero Beach, FL',
 'Sebring, FL',
 'Sheboygan, WI',
 'Sherman-Denison, TX',
 'Shreveport-Bossier City, LA',
 'Sierra Vista-Douglas, AZ',
 'Sioux City, IA-NE-SD',
 'Sioux Falls, SD',
 'South Bend-Mishawaka, IN-MI',
 'Spartanburg, SC',
 'Spokane-Spokane Valley, WA',
 'Springfield, IL',
 'Springfield, MA-CT',
 'Springfield, MO',
 'Springfield, OH',
 'St. Cloud, MN',
 'St. George, UT',
 'St. Joseph, MO-KS',
 'St. Louis, MO-IL',
 'State College, PA',
 'Staunton-Waynesboro, VA',
 'Stockton-Lodi, CA',
 'Sumter, SC',
 'Syracuse, NY',
 'Tallahassee, FL',
 'Tampa-St. Petersburg-Clearwater, FL',
 'Terre Haute, IN',
 'Texarkana, TX-AR',
 'The Villages, FL',
 'Toledo, OH',
 'Topeka, KS',
 'Trenton, NJ',
 'Tucson, AZ',
 'Tulsa, OK',
 'Tuscaloosa, AL',
 'Twin Falls, ID',
 'Tyler, TX',
 'Urban Honolulu, HI',
 'Utica-Rome, NY',
 'Valdosta, GA',
 'Vallejo-Fairfield, CA',
 'Victoria, TX',
 'Vineland-Bridgeton, NJ',
 'Virginia Beach-Norfolk-Newport News, VA-NC',
 'Visalia-Porterville, CA',
 'Waco, TX',
 'Walla Walla, WA',
 'Warner Robins, GA',
 'Washington-Arlington-Alexandria, DC-VA-MD-WV',
 'Waterbury, CT',
 'Waterloo-Cedar Falls, IA',
 'Watertown-Fort Drum, NY',
 'Wausau, WI',
 'Weirton-Steubenville, WV-OH',
 'Wenatchee, WA',
 'Wheeling, WV-OH',
 'Wichita Falls, TX',
 'Wichita, KS',
 'Williamsport, PA',
 'Wilmington, NC',
 'Winchester, VA-WV',
 'Winston-Salem, NC',
 'Worcester, MA-CT',
 'Yakima, WA',
 'York-Hanover, PA',
 'Youngstown-Warren-Boardman, OH-PA',
 'Yuba City, CA',
 'Yuma, AZ'}