In [1]:
import sys
import pandas as pd
import plotly

print(sys.version)
print("")
print(f"pandas:      version {pd.__version__}")
print(f"plotly:      version {plotly.__version__}")

3.8.5 (default, Sep  4 2020, 07:30:14)
[GCC 7.3.0]

pandas:      version 1.1.1
plotly:      version 4.10.0

In [2]:
ny = pd.read_csv("../data/weather/new_york_ny.csv")

print(ny.shape)
ny.head()

(17056, 25)

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2009-01-01 00:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,38,22,62,0.0,1017,-6,10,316,27,10007
1,2009-01-01 06:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,33,7,63,0.0,1023,-8,10,315,24,10007
2,2009-01-01 12:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,26,4,42,0.0,1025,-3,10,304,23,10007
3,2009-01-01 18:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,21,16,49,0.0,1025,-5,10,294,13,10007
4,2009-01-02 00:00:00,0,0,0.1,7.0,2,38,11:28 AM,11:54 PM,08:20 AM,...,14,46,49,0.0,1023,-6,10,260,8,10007

In [3]:
ny.columns

Index(['date_time', 'maxtempC', 'mintempC', 'totalSnow_cm', 'sunHour',
       'uvIndex', 'moon_illumination', 'moonrise', 'moonset', 'sunrise',
       'sunset', 'DewPointC', 'FeelsLikeC', 'HeatIndexC', 'WindChillC',
       'WindGustKmph', 'cloudcover', 'humidity', 'precipMM', 'pressure',
       'tempC', 'visibility', 'winddirDegree', 'windspeedKmph', 'location'],
      dtype='object')

In [4]:
ny[["sunset", "DewPointC", "FeelsLikeC", "HeatIndexC", "WindChillC"]].head()

     sunset  DewPointC  FeelsLikeC  HeatIndexC  WindChillC
0  05:40 PM        -12         -14          -6         -14
1  05:40 PM        -14         -16          -8         -16
2  05:40 PM        -14          -9          -3          -9
3  05:40 PM        -13         -10          -5         -10
4  05:41 PM        -14          -8          -5          -8

In [6]:
ny.dtypes

date_time             object
maxtempC               int64
mintempC               int64
totalSnow_cm         float64
sunHour              float64
uvIndex                int64
moon_illumination      int64
moonrise              object
moonset               object
sunrise               object
sunset                object
DewPointC              int64
FeelsLikeC             int64
HeatIndexC             int64
WindChillC             int64
WindGustKmph           int64
cloudcover             int64
humidity               int64
precipMM             float64
pressure               int64
tempC                  int64
visibility             int64
winddirDegree          int64
windspeedKmph          int64
location               int64
dtype: object

In [7]:
ny.date_time

0        2009-01-01 00:00:00
1        2009-01-01 06:00:00
2        2009-01-01 12:00:00
3        2009-01-01 18:00:00
4        2009-01-02 00:00:00
                ...
17051    2020-09-02 18:00:00
17052    2020-09-03 00:00:00
17053    2020-09-03 06:00:00
17054    2020-09-03 12:00:00
17055    2020-09-03 18:00:00
Name: date_time, Length: 17056, dtype: object

In [8]:
# Checking date_time format

date = ny.date_time[0]
print(type(date), date)

<class 'str'> 2009-01-01 00:00:00

In [9]:
from datetime import datetime

# Applying change to all dates
ny.date_time = ny.date_time.apply(lambda d: datetime.strptime(d, '%Y-%m-%d %H:%M:%S'))
ny.date_time.head()

0   2009-01-01 00:00:00
1   2009-01-01 06:00:00
2   2009-01-01 12:00:00
3   2009-01-01 18:00:00
4   2009-01-02 00:00:00
Name: date_time, dtype: datetime64[ns]

In [10]:
splits = []

for i in range(2009, 2021):
    for j in range(1, 13):
        splits.append(datetime(i, j, 1))
    
print(splits)

[datetime.datetime(2009, 1, 1, 0, 0), datetime.datetime(2009, 2, 1, 0, 0), datetime.datetime(2009, 3, 1, 0, 0), datetime.datetime(2009, 4, 1, 0, 0), datetime.datetime(2009, 5, 1, 0, 0), datetime.datetime(2009, 6, 1, 0, 0), datetime.datetime(2009, 7, 1, 0, 0), datetime.datetime(2009, 8, 1, 0, 0), datetime.datetime(2009, 9, 1, 0, 0), datetime.datetime(2009, 10, 1, 0, 0), datetime.datetime(2009, 11, 1, 0, 0), datetime.datetime(2009, 12, 1, 0, 0), datetime.datetime(2010, 1, 1, 0, 0), datetime.datetime(2010, 2, 1, 0, 0), datetime.datetime(2010, 3, 1, 0, 0), datetime.datetime(2010, 4, 1, 0, 0), datetime.datetime(2010, 5, 1, 0, 0), datetime.datetime(2010, 6, 1, 0, 0), datetime.datetime(2010, 7, 1, 0, 0), datetime.datetime(2010, 8, 1, 0, 0), datetime.datetime(2010, 9, 1, 0, 0), datetime.datetime(2010, 10, 1, 0, 0), datetime.datetime(2010, 11, 1, 0, 0), datetime.datetime(2010, 12, 1, 0, 0), datetime.datetime(2011, 1, 1, 0, 0), datetime.datetime(2011, 2, 1, 0, 0), datetime.datetime(2011, 3, 1, 0, 0), datetime.datetime(2011, 4, 1, 0, 0), datetime.datetime(2011, 5, 1, 0, 0), datetime.datetime(2011, 6, 1, 0, 0), datetime.datetime(2011, 7, 1, 0, 0), datetime.datetime(2011, 8, 1, 0, 0), datetime.datetime(2011, 9, 1, 0, 0), datetime.datetime(2011, 10, 1, 0, 0), datetime.datetime(2011, 11, 1, 0, 0), datetime.datetime(2011, 12, 1, 0, 0), datetime.datetime(2012, 1, 1, 0, 0), datetime.datetime(2012, 2, 1, 0, 0), datetime.datetime(2012, 3, 1, 0, 0), datetime.datetime(2012, 4, 1, 0, 0), datetime.datetime(2012, 5, 1, 0, 0), datetime.datetime(2012, 6, 1, 0, 0), datetime.datetime(2012, 7, 1, 0, 0), datetime.datetime(2012, 8, 1, 0, 0), datetime.datetime(2012, 9, 1, 0, 0), datetime.datetime(2012, 10, 1, 0, 0), datetime.datetime(2012, 11, 1, 0, 0), datetime.datetime(2012, 12, 1, 0, 0), datetime.datetime(2013, 1, 1, 0, 0), datetime.datetime(2013, 2, 1, 0, 0), datetime.datetime(2013, 3, 1, 0, 0), datetime.datetime(2013, 4, 1, 0, 0), datetime.datetime(2013, 5, 1, 0, 0), datetime.datetime(2013, 6, 1, 0, 0), datetime.datetime(2013, 7, 1, 0, 0), datetime.datetime(2013, 8, 1, 0, 0), datetime.datetime(2013, 9, 1, 0, 0), datetime.datetime(2013, 10, 1, 0, 0), datetime.datetime(2013, 11, 1, 0, 0), datetime.datetime(2013, 12, 1, 0, 0), datetime.datetime(2014, 1, 1, 0, 0), datetime.datetime(2014, 2, 1, 0, 0), datetime.datetime(2014, 3, 1, 0, 0), datetime.datetime(2014, 4, 1, 0, 0), datetime.datetime(2014, 5, 1, 0, 0), datetime.datetime(2014, 6, 1, 0, 0), datetime.datetime(2014, 7, 1, 0, 0), datetime.datetime(2014, 8, 1, 0, 0), datetime.datetime(2014, 9, 1, 0, 0), datetime.datetime(2014, 10, 1, 0, 0), datetime.datetime(2014, 11, 1, 0, 0), datetime.datetime(2014, 12, 1, 0, 0), datetime.datetime(2015, 1, 1, 0, 0), datetime.datetime(2015, 2, 1, 0, 0), datetime.datetime(2015, 3, 1, 0, 0), datetime.datetime(2015, 4, 1, 0, 0), datetime.datetime(2015, 5, 1, 0, 0), datetime.datetime(2015, 6, 1, 0, 0), datetime.datetime(2015, 7, 1, 0, 0), datetime.datetime(2015, 8, 1, 0, 0), datetime.datetime(2015, 9, 1, 0, 0), datetime.datetime(2015, 10, 1, 0, 0), datetime.datetime(2015, 11, 1, 0, 0), datetime.datetime(2015, 12, 1, 0, 0), datetime.datetime(2016, 1, 1, 0, 0), datetime.datetime(2016, 2, 1, 0, 0), datetime.datetime(2016, 3, 1, 0, 0), datetime.datetime(2016, 4, 1, 0, 0), datetime.datetime(2016, 5, 1, 0, 0), datetime.datetime(2016, 6, 1, 0, 0), datetime.datetime(2016, 7, 1, 0, 0), datetime.datetime(2016, 8, 1, 0, 0), datetime.datetime(2016, 9, 1, 0, 0), datetime.datetime(2016, 10, 1, 0, 0), datetime.datetime(2016, 11, 1, 0, 0), datetime.datetime(2016, 12, 1, 0, 0), datetime.datetime(2017, 1, 1, 0, 0), datetime.datetime(2017, 2, 1, 0, 0), datetime.datetime(2017, 3, 1, 0, 0), datetime.datetime(2017, 4, 1, 0, 0), datetime.datetime(2017, 5, 1, 0, 0), datetime.datetime(2017, 6, 1, 0, 0), datetime.datetime(2017, 7, 1, 0, 0), datetime.datetime(2017, 8, 1, 0, 0), datetime.datetime(2017, 9, 1, 0, 0), datetime.datetime(2017, 10, 1, 0, 0), datetime.datetime(2017, 11, 1, 0, 0), datetime.datetime(2017, 12, 1, 0, 0), datetime.datetime(2018, 1, 1, 0, 0), datetime.datetime(2018, 2, 1, 0, 0), datetime.datetime(2018, 3, 1, 0, 0), datetime.datetime(2018, 4, 1, 0, 0), datetime.datetime(2018, 5, 1, 0, 0), datetime.datetime(2018, 6, 1, 0, 0), datetime.datetime(2018, 7, 1, 0, 0), datetime.datetime(2018, 8, 1, 0, 0), datetime.datetime(2018, 9, 1, 0, 0), datetime.datetime(2018, 10, 1, 0, 0), datetime.datetime(2018, 11, 1, 0, 0), datetime.datetime(2018, 12, 1, 0, 0), datetime.datetime(2019, 1, 1, 0, 0), datetime.datetime(2019, 2, 1, 0, 0), datetime.datetime(2019, 3, 1, 0, 0), datetime.datetime(2019, 4, 1, 0, 0), datetime.datetime(2019, 5, 1, 0, 0), datetime.datetime(2019, 6, 1, 0, 0), datetime.datetime(2019, 7, 1, 0, 0), datetime.datetime(2019, 8, 1, 0, 0), datetime.datetime(2019, 9, 1, 0, 0), datetime.datetime(2019, 10, 1, 0, 0), datetime.datetime(2019, 11, 1, 0, 0), datetime.datetime(2019, 12, 1, 0, 0), datetime.datetime(2020, 1, 1, 0, 0), datetime.datetime(2020, 2, 1, 0, 0), datetime.datetime(2020, 3, 1, 0, 0), datetime.datetime(2020, 4, 1, 0, 0), datetime.datetime(2020, 5, 1, 0, 0), datetime.datetime(2020, 6, 1, 0, 0), datetime.datetime(2020, 7, 1, 0, 0), datetime.datetime(2020, 8, 1, 0, 0), datetime.datetime(2020, 9, 1, 0, 0), datetime.datetime(2020, 10, 1, 0, 0), datetime.datetime(2020, 11, 1, 0, 0), datetime.datetime(2020, 12, 1, 0, 0)]

In [11]:
import os

# Collecting csv_files to
    # count how many cities we have data for
    # determine which cities have long data and which have short data

csv_files = [file for file in os.listdir(os.path.join("..", "data", "weather")) if file[-3:]  == "csv"]
print(len(csv_files))
print(csv_files)

93
['albuquerque_nm.csv', 'anchorage_ak.csv', 'annapolis_md.csv', 'atlanta_ga.csv', 'augusta_ga.csv', 'aurora_il.csv', 'austin_tx.csv', 'baltimore_md.csv', 'bandon_or.csv', 'baton_rouge_la.csv', 'bethlehem_pa.csv', 'biloxi_ms.csv', 'boise_id.csv', 'boston_ma.csv', 'bristol_ct.csv', 'buffalo_ny.csv', 'cedar_rapids_ia.csv', 'charleston_wv.csv', 'charlotte_nc.csv', 'chicago_il.csv', 'cleveland_oh.csv', 'colorado_springs_co.csv', 'columbia_sc.csv', 'columbus_oh.csv', 'dallas_tx.csv', 'denver_co.csv', 'des_moines_ia.csv', 'detroit_mi.csv', 'dover_de.csv', 'durham_nc.csv', 'el_paso_tx.csv', 'fort_smith_ar.csv', 'fort_wayne_in.csv', 'hartford_ct.csv', 'hempstead_ny.csv', 'honolulu_hi.csv', 'houston_tx.csv', 'huntington_wv.csv', 'indianapolis_in.csv', 'jacksonville_fl.csv', 'jackson_ms.csv', 'jersey_city_nj.csv', 'kenmore_wa.csv', 'knoxville_tn.csv', 'las_cruces_nm.csv', 'las_vegas_nv.csv', 'lexington_ky.csv', 'little_rock_ar.csv', 'los_angeles_ca.csv', 'louisville_ky.csv', 'madison_wi.csv', 'memphis_tn.csv', 'miami_fl.csv', 'milwaukee_wi.csv', 'mobile_al.csv', 'montgomery_al.csv', 'myrtle_beach_sc.csv', 'nampa_id.csv', 'nashville_tn.csv', 'newark_nj.csv', 'new_orleans_la.csv', 'new_york_ny.csv', 'norfolk_va.csv', 'oklahoma_city_ok.csv', 'philidelphia_pa.csv', 'phoenix_az.csv', 'pittsburgh_pa.csv', 'portland_or.csv', 'providence_ri.csv', 'provo_ut.csv', 'raleigh_nc.csv', 'reno_nv.csv', 'richmond_va.csv', 'sacramento_ca.csv', 'saint_george.csv', 'salem_or.csv', 'salt_lake_city_ut.csv', 'san_antonio_tx.csv', 'san_diego_ca.csv', 'san_francisco_ca.csv', 'san_jose_ca.csv', 'savannah_ga.csv', 'seattle_wa.csv', 'spokane_wa.csv', 'springfield_ma.csv', 'tallahassee_fl.csv', 'topeka_ks.csv', 'tuscon_az.csv', 'virginia_beach_va.csv', 'warwick_ri.csv', 'washington_dc.csv', 'wichita_ks.csv', 'wilmington_de.csv']

In [12]:
set_ = set()

for file in csv_files:
    DataFrame = pd.read_csv(f"../data/weather/{file}")
    set_.add(len(DataFrame.index))
    
set_

{16440, 17044, 17056}

In [13]:
dict_ = dict()

for file in csv_files:
    DataFrame = pd.read_csv(f"../data/weather/{file}")
    dict_[file] = len(DataFrame.index)
    
print(dict_)

{'albuquerque_nm.csv': 16440, 'anchorage_ak.csv': 16440, 'annapolis_md.csv': 17056, 'atlanta_ga.csv': 17056, 'augusta_ga.csv': 17056, 'aurora_il.csv': 17056, 'austin_tx.csv': 17044, 'baltimore_md.csv': 17056, 'bandon_or.csv': 16440, 'baton_rouge_la.csv': 17056, 'bethlehem_pa.csv': 16440, 'biloxi_ms.csv': 17056, 'boise_id.csv': 17044, 'boston_ma.csv': 16440, 'bristol_ct.csv': 17044, 'buffalo_ny.csv': 17056, 'cedar_rapids_ia.csv': 17044, 'charleston_wv.csv': 17056, 'charlotte_nc.csv': 17044, 'chicago_il.csv': 17056, 'cleveland_oh.csv': 17044, 'colorado_springs_co.csv': 16440, 'columbia_sc.csv': 17056, 'columbus_oh.csv': 17044, 'dallas_tx.csv': 17056, 'denver_co.csv': 16440, 'des_moines_ia.csv': 17044, 'detroit_mi.csv': 17044, 'dover_de.csv': 17056, 'durham_nc.csv': 17056, 'el_paso_tx.csv': 17044, 'fort_smith_ar.csv': 17056, 'fort_wayne_in.csv': 17056, 'hartford_ct.csv': 17044, 'hempstead_ny.csv': 17056, 'honolulu_hi.csv': 17044, 'houston_tx.csv': 17056, 'huntington_wv.csv': 17056, 'indianapolis_in.csv': 17056, 'jacksonville_fl.csv': 16440, 'jackson_ms.csv': 17056, 'jersey_city_nj.csv': 16440, 'kenmore_wa.csv': 16440, 'knoxville_tn.csv': 17056, 'las_cruces_nm.csv': 17044, 'las_vegas_nv.csv': 16440, 'lexington_ky.csv': 17056, 'little_rock_ar.csv': 17056, 'los_angeles_ca.csv': 17056, 'louisville_ky.csv': 17056, 'madison_wi.csv': 17044, 'memphis_tn.csv': 17056, 'miami_fl.csv': 17056, 'milwaukee_wi.csv': 17044, 'mobile_al.csv': 17056, 'montgomery_al.csv': 17056, 'myrtle_beach_sc.csv': 17056, 'nampa_id.csv': 17044, 'nashville_tn.csv': 17056, 'newark_nj.csv': 16440, 'new_orleans_la.csv': 17056, 'new_york_ny.csv': 17056, 'norfolk_va.csv': 17056, 'oklahoma_city_ok.csv': 17044, 'philidelphia_pa.csv': 17056, 'phoenix_az.csv': 16440, 'pittsburgh_pa.csv': 16440, 'portland_or.csv': 17056, 'providence_ri.csv': 17044, 'provo_ut.csv': 17044, 'raleigh_nc.csv': 17056, 'reno_nv.csv': 16440, 'richmond_va.csv': 17056, 'sacramento_ca.csv': 16440, 'saint_george.csv': 17044, 'salem_or.csv': 17056, 'salt_lake_city_ut.csv': 17044, 'san_antonio_tx.csv': 16440, 'san_diego_ca.csv': 17044, 'san_francisco_ca.csv': 17056, 'san_jose_ca.csv': 17056, 'savannah_ga.csv': 17056, 'seattle_wa.csv': 17056, 'spokane_wa.csv': 17056, 'springfield_ma.csv': 16440, 'tallahassee_fl.csv': 17056, 'topeka_ks.csv': 17056, 'tuscon_az.csv': 16440, 'virginia_beach_va.csv': 17056, 'warwick_ri.csv': 17044, 'washington_dc.csv': 17056, 'wichita_ks.csv': 17056, 'wilmington_de.csv': 17056}

In [14]:
for file in dict_:
    if dict_[file] == 16440:
        dict_[file] = "short"
        
    elif dict_[file] == 17044 or dict_[file] == 17056:
        dict_[file] = "long"
        
print(dict_)

{'albuquerque_nm.csv': 'short', 'anchorage_ak.csv': 'short', 'annapolis_md.csv': 'long', 'atlanta_ga.csv': 'long', 'augusta_ga.csv': 'long', 'aurora_il.csv': 'long', 'austin_tx.csv': 'long', 'baltimore_md.csv': 'long', 'bandon_or.csv': 'short', 'baton_rouge_la.csv': 'long', 'bethlehem_pa.csv': 'short', 'biloxi_ms.csv': 'long', 'boise_id.csv': 'long', 'boston_ma.csv': 'short', 'bristol_ct.csv': 'long', 'buffalo_ny.csv': 'long', 'cedar_rapids_ia.csv': 'long', 'charleston_wv.csv': 'long', 'charlotte_nc.csv': 'long', 'chicago_il.csv': 'long', 'cleveland_oh.csv': 'long', 'colorado_springs_co.csv': 'short', 'columbia_sc.csv': 'long', 'columbus_oh.csv': 'long', 'dallas_tx.csv': 'long', 'denver_co.csv': 'short', 'des_moines_ia.csv': 'long', 'detroit_mi.csv': 'long', 'dover_de.csv': 'long', 'durham_nc.csv': 'long', 'el_paso_tx.csv': 'long', 'fort_smith_ar.csv': 'long', 'fort_wayne_in.csv': 'long', 'hartford_ct.csv': 'long', 'hempstead_ny.csv': 'long', 'honolulu_hi.csv': 'long', 'houston_tx.csv': 'long', 'huntington_wv.csv': 'long', 'indianapolis_in.csv': 'long', 'jacksonville_fl.csv': 'short', 'jackson_ms.csv': 'long', 'jersey_city_nj.csv': 'short', 'kenmore_wa.csv': 'short', 'knoxville_tn.csv': 'long', 'las_cruces_nm.csv': 'long', 'las_vegas_nv.csv': 'short', 'lexington_ky.csv': 'long', 'little_rock_ar.csv': 'long', 'los_angeles_ca.csv': 'long', 'louisville_ky.csv': 'long', 'madison_wi.csv': 'long', 'memphis_tn.csv': 'long', 'miami_fl.csv': 'long', 'milwaukee_wi.csv': 'long', 'mobile_al.csv': 'long', 'montgomery_al.csv': 'long', 'myrtle_beach_sc.csv': 'long', 'nampa_id.csv': 'long', 'nashville_tn.csv': 'long', 'newark_nj.csv': 'short', 'new_orleans_la.csv': 'long', 'new_york_ny.csv': 'long', 'norfolk_va.csv': 'long', 'oklahoma_city_ok.csv': 'long', 'philidelphia_pa.csv': 'long', 'phoenix_az.csv': 'short', 'pittsburgh_pa.csv': 'short', 'portland_or.csv': 'long', 'providence_ri.csv': 'long', 'provo_ut.csv': 'long', 'raleigh_nc.csv': 'long', 'reno_nv.csv': 'short', 'richmond_va.csv': 'long', 'sacramento_ca.csv': 'short', 'saint_george.csv': 'long', 'salem_or.csv': 'long', 'salt_lake_city_ut.csv': 'long', 'san_antonio_tx.csv': 'short', 'san_diego_ca.csv': 'long', 'san_francisco_ca.csv': 'long', 'san_jose_ca.csv': 'long', 'savannah_ga.csv': 'long', 'seattle_wa.csv': 'long', 'spokane_wa.csv': 'long', 'springfield_ma.csv': 'short', 'tallahassee_fl.csv': 'long', 'topeka_ks.csv': 'long', 'tuscon_az.csv': 'short', 'virginia_beach_va.csv': 'long', 'warwick_ri.csv': 'long', 'washington_dc.csv': 'long', 'wichita_ks.csv': 'long', 'wilmington_de.csv': 'long'}

In [15]:
# for exploring how subsetting varies between long and short datasets

an = pd.read_csv(f"../data/weather/anchorage_ak.csv")

print(an.shape)
an.head()

(16440, 25)

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2009-03-01 00:00:00,0,0,0.0,10.7,1,30,09:01 AM,01:39 AM,08:59 AM,...,18,10,96,0.0,1018,-11,2,337,9,99501
1,2009-03-01 06:00:00,0,0,0.0,10.7,1,30,09:01 AM,01:39 AM,08:59 AM,...,23,0,94,0.0,1017,-12,2,349,12,99501
2,2009-03-01 12:00:00,0,0,0.0,10.7,1,30,09:01 AM,01:39 AM,08:59 AM,...,23,41,95,0.0,1016,-11,10,320,17,99501
3,2009-03-01 18:00:00,0,0,0.0,10.7,1,30,09:01 AM,01:39 AM,08:59 AM,...,26,5,95,0.0,1016,-12,9,331,16,99501
4,2009-03-02 00:00:00,0,0,0.0,10.7,1,37,09:06 AM,03:24 AM,08:56 AM,...,21,0,96,0.0,1017,-15,2,13,11,99501

In [16]:
an.tail()

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
16435,2020-05-30 18:00:00,10,1,0.0,14.1,3,54,01:52 PM,03:56 AM,04:38 AM,...,8,88,80,0.5,1007,6,5,187,4,99501
16436,2020-05-31 00:00:00,11,3,0.0,14.1,2,58,03:29 PM,04:03 AM,04:36 AM,...,5,87,84,0.2,1007,7,7,165,3,99501
16437,2020-05-31 06:00:00,11,3,0.0,14.1,2,58,03:29 PM,04:03 AM,04:36 AM,...,3,98,89,0.2,1007,9,5,314,2,99501
16438,2020-05-31 12:00:00,11,3,0.0,14.1,2,58,03:29 PM,04:03 AM,04:36 AM,...,6,84,78,0.1,1006,10,10,296,4,99501
16439,2020-05-31 18:00:00,11,3,0.0,14.1,2,58,03:29 PM,04:03 AM,04:36 AM,...,17,62,68,0.1,1005,8,10,139,10,99501

In [17]:
an.date_time = an.date_time.apply(lambda d: datetime.strptime(d, '%Y-%m-%d %H:%M:%S'))
an.date_time.head()

0   2009-03-01 00:00:00
1   2009-03-01 06:00:00
2   2009-03-01 12:00:00
3   2009-03-01 18:00:00
4   2009-03-02 00:00:00
Name: date_time, dtype: datetime64[ns]

In [18]:
# Testing short split:)

# i=1 for long split, i=3 for short split

march_2009 = an[an.date_time < splits[3]]

print(march_2009.shape)
march_2009

(124, 25)

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2009-03-01 00:00:00,0,0,0.0,10.7,1,30,09:01 AM,01:39 AM,08:59 AM,...,18,10,96,0.0,1018,-11,2,337,9,99501
1,2009-03-01 06:00:00,0,0,0.0,10.7,1,30,09:01 AM,01:39 AM,08:59 AM,...,23,0,94,0.0,1017,-12,2,349,12,99501
2,2009-03-01 12:00:00,0,0,0.0,10.7,1,30,09:01 AM,01:39 AM,08:59 AM,...,23,41,95,0.0,1016,-11,10,320,17,99501
3,2009-03-01 18:00:00,0,0,0.0,10.7,1,30,09:01 AM,01:39 AM,08:59 AM,...,26,5,95,0.0,1016,-12,9,331,16,99501
4,2009-03-02 00:00:00,0,0,0.0,10.7,1,37,09:06 AM,03:24 AM,08:56 AM,...,21,0,96,0.0,1017,-15,2,13,11,99501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2009-03-30 18:00:00,0,0,1.9,7.8,1,26,07:30 AM,02:48 AM,07:28 AM,...,11,77,96,0.0,1003,-6,10,239,8,99501
120,2009-03-31 00:00:00,0,0,0.1,11.6,1,30,07:58 AM,04:26 AM,07:25 AM,...,7,45,96,0.0,1008,-14,2,197,3,99501
121,2009-03-31 06:00:00,0,0,0.1,11.6,1,30,07:58 AM,04:26 AM,07:25 AM,...,13,55,96,0.1,1012,-10,7,122,7,99501
122,2009-03-31 12:00:00,0,0,0.1,11.6,1,30,07:58 AM,04:26 AM,07:25 AM,...,4,29,94,0.0,1011,-5,10,23,4,99501
123,2009-03-31 18:00:00,0,0,0.1,11.6,1,30,07:58 AM,04:26 AM,07:25 AM,...,10,28,96,0.0,1010,-4,10,39,6,99501

In [19]:
subsets = []

# splits[3:-3] for short, splits[1:-2] for long

for j in range(len(splits[3:-3]) - 1):
    subset = an[an.date_time > splits[j]]
    subset = subset[subset.date_time < splits[j + 1]]
    subset = subset.reset_index(drop=True)
    subsets.append(subset)
    
subsets = subsets[2:]
subsets[0]

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2009-03-01 06:00:00,0,0,0.0,10.7,1,30,09:01 AM,01:39 AM,08:59 AM,...,23,0,94,0.0,1017,-12,2,349,12,99501
1,2009-03-01 12:00:00,0,0,0.0,10.7,1,30,09:01 AM,01:39 AM,08:59 AM,...,23,41,95,0.0,1016,-11,10,320,17,99501
2,2009-03-01 18:00:00,0,0,0.0,10.7,1,30,09:01 AM,01:39 AM,08:59 AM,...,26,5,95,0.0,1016,-12,9,331,16,99501
3,2009-03-02 00:00:00,0,0,0.0,10.7,1,37,09:06 AM,03:24 AM,08:56 AM,...,21,0,96,0.0,1017,-15,2,13,11,99501
4,2009-03-02 06:00:00,0,0,0.0,10.7,1,37,09:06 AM,03:24 AM,08:56 AM,...,16,0,100,0.0,1015,-22,0,28,8,99501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2009-03-30 18:00:00,0,0,1.9,7.8,1,26,07:30 AM,02:48 AM,07:28 AM,...,11,77,96,0.0,1003,-6,10,239,8,99501
119,2009-03-31 00:00:00,0,0,0.1,11.6,1,30,07:58 AM,04:26 AM,07:25 AM,...,7,45,96,0.0,1008,-14,2,197,3,99501
120,2009-03-31 06:00:00,0,0,0.1,11.6,1,30,07:58 AM,04:26 AM,07:25 AM,...,13,55,96,0.1,1012,-10,7,122,7,99501
121,2009-03-31 12:00:00,0,0,0.1,11.6,1,30,07:58 AM,04:26 AM,07:25 AM,...,4,29,94,0.0,1011,-5,10,23,4,99501
122,2009-03-31 18:00:00,0,0,0.1,11.6,1,30,07:58 AM,04:26 AM,07:25 AM,...,10,28,96,0.0,1010,-4,10,39,6,99501

In [20]:
subsets[-1]

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2020-05-01 06:00:00,7,0,0.0,14.9,1,58,12:58 PM,05:25 AM,05:49 AM,...,5,39,81,0.1,1014,3,10,85,3,99501
1,2020-05-01 12:00:00,7,0,0.0,14.9,1,58,12:58 PM,05:25 AM,05:49 AM,...,7,72,69,0.1,1016,5,10,359,4,99501
2,2020-05-01 18:00:00,7,0,0.0,14.9,1,58,12:58 PM,05:25 AM,05:49 AM,...,5,45,56,0.1,1015,5,10,299,3,99501
3,2020-05-02 00:00:00,7,0,0.0,16.6,1,65,02:37 PM,05:37 AM,05:46 AM,...,4,35,80,0.0,1015,3,10,267,3,99501
4,2020-05-02 06:00:00,7,0,0.0,16.6,1,65,02:37 PM,05:37 AM,05:46 AM,...,11,8,86,0.0,1014,1,10,354,7,99501
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2020-05-30 18:00:00,10,1,0.0,14.1,3,54,01:52 PM,03:56 AM,04:38 AM,...,8,88,80,0.5,1007,6,5,187,4,99501
119,2020-05-31 00:00:00,11,3,0.0,14.1,2,58,03:29 PM,04:03 AM,04:36 AM,...,5,87,84,0.2,1007,7,7,165,3,99501
120,2020-05-31 06:00:00,11,3,0.0,14.1,2,58,03:29 PM,04:03 AM,04:36 AM,...,3,98,89,0.2,1007,9,5,314,2,99501
121,2020-05-31 12:00:00,11,3,0.0,14.1,2,58,03:29 PM,04:03 AM,04:36 AM,...,6,84,78,0.1,1006,10,10,296,4,99501
122,2020-05-31 18:00:00,11,3,0.0,14.1,2,58,03:29 PM,04:03 AM,04:36 AM,...,17,62,68,0.1,1005,8,10,139,10,99501

In [21]:
subsets = []

for j in range(len(splits[1:-2]) - 1):
    subset = ny[ny.date_time > splits[j]]
    subset = subset[subset.date_time < splits[j + 1]]
    subset = subset.reset_index(drop=True)
    subsets.append(subset)
    
subsets[0]

,date_time,maxtempC,mintempC,totalSnow_cm,sunHour,uvIndex,moon_illumination,moonrise,moonset,sunrise,...,WindGustKmph,cloudcover,humidity,precipMM,pressure,tempC,visibility,winddirDegree,windspeedKmph,location
0,2009-01-01 06:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,33,7,63,0.0,1023,-8,10,315,24,10007
1,2009-01-01 12:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,26,4,42,0.0,1025,-3,10,304,23,10007
2,2009-01-01 18:00:00,0,0,0.0,8.7,2,31,11:07 AM,10:50 PM,08:20 AM,...,21,16,49,0.0,1025,-5,10,294,13,10007
3,2009-01-02 00:00:00,0,0,0.1,7.0,2,38,11:28 AM,11:54 PM,08:20 AM,...,14,46,49,0.0,1023,-6,10,260,8,10007
4,2009-01-02 06:00:00,0,0,0.1,7.0,2,38,11:28 AM,11:54 PM,08:20 AM,...,32,45,62,0.0,1017,-2,10,200,17,10007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118,2009-01-30 18:00:00,0,0,0.1,10.0,2,27,09:56 AM,10:51 PM,08:08 AM,...,16,42,81,0.0,1012,-1,10,236,9,10007
119,2009-01-31 00:00:00,0,0,0.0,10.0,2,31,10:19 AM,11:58 PM,08:07 AM,...,27,6,71,0.0,1013,-4,10,288,18,10007
120,2009-01-31 06:00:00,0,0,0.0,10.0,2,31,10:19 AM,11:58 PM,08:07 AM,...,26,13,73,0.0,1016,-6,10,291,18,10007
121,2009-01-31 12:00:00,0,0,0.0,10.0,2,31,10:19 AM,11:58 PM,08:07 AM,...,27,66,48,0.0,1016,-3,10,291,24,10007
122,2009-01-31 18:00:00,0,0,0.0,10.0,2,31,10:19 AM,11:58 PM,08:07 AM,...,31,25,61,0.0,1019,-4,10,251,19,10007

In [22]:
# Subsetting on a series

tempC = ny.tempC
tempC.index = ny.date_time

tempC.head()

date_time
2009-01-01 00:00:00   -6
2009-01-01 06:00:00   -8
2009-01-01 12:00:00   -3
2009-01-01 18:00:00   -5
2009-01-02 00:00:00   -6
Name: tempC, dtype: int64

In [23]:
tempC.tail()

date_time
2020-09-02 18:00:00    27
2020-09-03 00:00:00    26
2020-09-03 06:00:00    25
2020-09-03 12:00:00    29
2020-09-03 18:00:00    28
Name: tempC, dtype: int64

In [24]:
first = tempC[tempC.index < splits[1]]
first

date_time
2009-01-01 00:00:00   -6
2009-01-01 06:00:00   -8
2009-01-01 12:00:00   -3
2009-01-01 18:00:00   -5
2009-01-02 00:00:00   -6
                      ..
2009-01-30 18:00:00   -1
2009-01-31 00:00:00   -4
2009-01-31 06:00:00   -6
2009-01-31 12:00:00   -3
2009-01-31 18:00:00   -4
Name: tempC, Length: 124, dtype: int64

In [25]:
subsets = []


for j in range(len(splits[1:-2]) - 1):
    subset = tempC[tempC.index > splits[j]]
    subset = subset[subset.index < splits[j + 1]]
    subsets.append(subset)
    
subsets[0]

date_time
2009-01-01 06:00:00   -8
2009-01-01 12:00:00   -3
2009-01-01 18:00:00   -5
2009-01-02 00:00:00   -6
2009-01-02 06:00:00   -2
                      ..
2009-01-30 18:00:00   -1
2009-01-31 00:00:00   -4
2009-01-31 06:00:00   -6
2009-01-31 12:00:00   -3
2009-01-31 18:00:00   -4
Name: tempC, Length: 123, dtype: int64

In [26]:
subsets[-1]

date_time
2020-08-01 06:00:00    25
2020-08-01 12:00:00    28
2020-08-01 18:00:00    27
2020-08-02 00:00:00    25
2020-08-02 06:00:00    25
                       ..
2020-08-30 18:00:00    26
2020-08-31 00:00:00    24
2020-08-31 06:00:00    21
2020-08-31 12:00:00    23
2020-08-31 18:00:00    23
Name: tempC, Length: 123, dtype: int64

In [27]:
subsets[0].describe()[1:]

mean    -2.406504
std      3.968807
min    -14.000000
25%     -5.000000
50%     -3.000000
75%      1.000000
max      7.000000
Name: tempC, dtype: float64

In [28]:
subsets[0].index[0]

Timestamp('2009-01-01 06:00:00')

In [29]:
tables = []
time = []

for sub in subsets:
    tables.append(sub.describe()[1:])
    time.append(datetime(sub.index[0].year, sub.index[0].month, sub.index[0].day))

In [30]:
minimum = []
mean = []
med = []
maximum = []

for i in range(len(tables)):
    mean.append(tables[i]["mean"])
    minimum.append(tables[i]["min"])
    med.append(tables[i]["50%"])
    maximum.append(tables[i]["max"])
    
data = {
    "month" : time,
    "mean" : mean,
    "min" : minimum,
    "med" : med,
    "max" : maximum,
}

df = pd.DataFrame(data)

print(df.shape)
df.head()

(140, 5)

       month       mean   min   med   max
0 2009-01-01  -2.406504 -14.0  -3.0   7.0
1 2009-02-01   1.315315 -12.0   1.0  14.0
2 2009-03-01   4.073171 -12.0   5.0  18.0
3 2009-04-01  10.302521   1.0   9.0  27.0
4 2009-05-01  15.325203   7.0  15.0  25.0

In [31]:
df.tail()

         month       mean   min   med   max
135 2020-04-01   9.613445   2.0   9.0  19.0
136 2020-05-01  14.308943   2.0  14.0  24.0
137 2020-06-01  22.218487  13.0  23.0  29.0
138 2020-07-01  26.788618  17.0  27.0  32.0
139 2020-08-01  25.130081  16.0  25.0  31.0

In [32]:
df.set_index("month", inplace=True)
df.index.freq = "MS"

print(df.shape)
df.head()

(140, 4)

                 mean   min   med   max
month
2009-01-01  -2.406504 -14.0  -3.0   7.0
2009-02-01   1.315315 -12.0   1.0  14.0
2009-03-01   4.073171 -12.0   5.0  18.0
2009-04-01  10.302521   1.0   9.0  27.0
2009-05-01  15.325203   7.0  15.0  25.0

In [33]:
# First Pass

# get_stats function(city, stat, metric=True)
def get_stats(city: str, state: str, stat: str, metric=True) -> pd.DataFrame:
    # loads in desired DataFrame
    # looks at query and matches query to appropriate csv file
    DataFrame = pd.read_csv(f"../data/weather/{city}_{state}.csv")
    
    # fixes datetime format
    DataFrame.date_time = DataFrame.date_time.apply(lambda d: datetime.strptime(d, '%Y-%m-%d %H:%M:%S'))
    
    # pulls Series for desired metric out of DataFrame
    series = DataFrame[stat]
    series.index = DataFrame.date_time
    
    # creates subsetted Series for each month in the data
    
    subsets = []
    
    # checks length of DataFrame index to see if it is a long or short dataset
    # uses splits array
    
    if len(series.index) == 16440:
        for j in range(len(splits[3:-3]) - 1):
            subset = series[series.index > splits[j]]
            subset = subset[subset.index < splits[j + 1]]
            subsets.append(subset)
            
        subsets = subsets[2:]
        
    elif len(series.index) == 17044 or len(series.index) == 17056:
        for j in range(len(splits[1:-2]) - 1):
            subset = series[series.index > splits[j]]
            subset = series[subset.index < splits[j + 1]]
            subsets.append(subset)
            
    # calculates stats for series
    
    tables = []
    time = []
    
    for sub in subsets:
        tables.append(sub.describe()[1:])
        time.append(datetime(sub.index[0].year, sub.index[0].month, sub.index[0].day))
    
    # populates DataFrame with those stats
    
    minimum = []
    mean = []
    med = []
    maximum = []

    for i in range(len(tables)):
        mean.append(tables[i]["mean"])
        minimum.append(tables[i]["min"])
        med.append(tables[i]["50%"])
        maximum.append(tables[i]["max"])

    data = {
        "month" : time,
        "mean" : mean,
        "min" : minimum,
        "med" : med,
        "max" : maximum,
    }
    
    df = pd.DataFrame(data)
    
    # resets new DataFrame index to the datetime of the first entry
    df.set_index("month", inplace=True)
    
    # sets freq of df's index to "MS" for monthly
    df.index.freq = "MS"
    
    return df

# Second Pass
# if metric=False
# convert values at stats stage to imperial units

# Third Pass

# populate database with historical data <- can be stored in another function which is called if the data are not already there,
#                                           or are out-of-date

# build if then loop to query database for information
# if information present:
    # return information

# if information absent:
    # calculate info.

In [34]:
# testing function
# albuquerque_nm.csv

get_stats("albuquerque", "nm", "tempC")

                 mean   min   med   max
month
2009-03-01   8.349593  -6.0   9.0  22.0
2009-04-01  11.260504  -4.0  10.0  26.0
2009-05-01  18.308943   6.0  18.0  30.0
2009-06-01  20.588235   7.0  20.0  32.0
2009-07-01  24.943089  14.0  24.0  35.0
...               ...   ...   ...   ...
2020-01-01   2.593496  -4.0   2.0  10.0
2020-02-01   4.713043  -7.0   5.0  14.0
2020-03-01  10.398374   0.0  11.0  18.0
2020-04-01  14.504202   1.0  15.0  29.0
2020-05-01  19.902439   8.0  20.0  32.0

[135 rows x 4 columns]

In [55]:
def get_min(series, rule):
    return series.resample(rule=rule).min()
    
def get_mean(series, rule):
    return series.resample(rule=rule).mean()
    
def get_med(series, rule):
    return series.resample(rule=rule).med()
    
def get_max(series, rule):
    return series.resample(rule=rule).max()

def get_stats(city: str, state: str, metric: str, stat: str) -> pd.Series:
    # loads in desired DataFrame
    # looks at query and matches query to appropriate csv file
    DataFrame = pd.read_csv(f"../data/weather/{city}_{state}.csv")
    
    # fixes datetime format
    DataFrame.date_time = DataFrame.date_time.apply(lambda d: datetime.strptime(d, '%Y-%m-%d %H:%M:%S'))
    
    # pulls Series for desired metric out of DataFrame
    series = DataFrame[metric]
    series.index = DataFrame.date_time
    
    if stat == "min":
        return get_min(series, rule="MS").to_json()
        
    elif stat == "mean":
        return get_mean(series, rule="MS").to_json()
        
    elif stat == "med":
        return get_med(series, rule="MS").to_json()
        
    elif stat == "max":
        return get_max(series, rule="MS").to_json()

In [56]:
get_stats("albuquerque", "nm", "tempC", "max")

'{"1235865600000":22,"1238544000000":26,"1241136000000":30,"1243814400000":32,"1246406400000":35,"1249084800000":35,"1251763200000":30,"1254355200000":22,"1257033600000":18,"1259625600000":7,"1262304000000":8,"1264982400000":10,"1267401600000":23,"1270080000000":23,"1272672000000":30,"1275350400000":36,"1277942400000":36,"1280620800000":33,"1283299200000":30,"1285891200000":25,"1288569600000":17,"1291161600000":12,"1293840000000":10,"1296518400000":14,"1298937600000":22,"1301616000000":25,"1304208000000":30,"1306886400000":35,"1309478400000":33,"1312156800000":33,"1314835200000":29,"1317427200000":22,"1320105600000":17,"1322697600000":9,"1325376000000":11,"1328054400000":14,"1330560000000":24,"1333238400000":27,"1335830400000":30,"1338508800000":34,"1341100800000":33,"1343779200000":33,"1346457600000":30,"1349049600000":25,"1351728000000":16,"1354320000000":12,"1356998400000":11,"1359676800000":11,"1362096000000":22,"1364774400000":27,"1367366400000":30,"1370044800000":36,"1372636800000":32,"1375315200000":31,"1377993600000":29,"1380585600000":22,"1383264000000":14,"1385856000000":13,"1388534400000":14,"1391212800000":17,"1393632000000":19,"1396310400000":24,"1398902400000":31,"1401580800000":35,"1404172800000":34,"1406851200000":31,"1409529600000":31,"1412121600000":23,"1414800000000":17,"1417392000000":12,"1420070400000":12,"1422748800000":15,"1425168000000":24,"1427846400000":25,"1430438400000":28,"1433116800000":36,"1435708800000":33,"1438387200000":33,"1441065600000":29,"1443657600000":26,"1446336000000":17,"1448928000000":13,"1451606400000":12,"1454284800000":18,"1456790400000":21,"1459468800000":24,"1462060800000":27,"1464739200000":35,"1467331200000":34,"1470009600000":30,"1472688000000":29,"1475280000000":23,"1477958400000":18,"1480550400000":13,"1483228800000":12,"1485907200000":17,"1488326400000":24,"1491004800000":25,"1493596800000":28,"1496275200000":35,"1498867200000":34,"1501545600000":31,"1504224000000":30,"1506816000000":24,"1509494400000":18,"1512086400000":13,"1514764800000":13,"1517443200000":15,"1519862400000":22,"1522540800000":26,"1525132800000":31,"1527811200000":35,"1530403200000":35,"1533081600000":34,"1535760000000":30,"1538352000000":25,"1541030400000":16,"1543622400000":10,"1546300800000":8,"1548979200000":13,"1551398400000":23,"1554076800000":26,"1556668800000":27,"1559347200000":32,"1561939200000":35,"1564617600000":34,"1567296000000":33,"1569888000000":26,"1572566400000":17,"1575158400000":12,"1577836800000":10,"1580515200000":14,"1583020800000":18,"1585699200000":29,"1588291200000":32}'